<ErrorBoundary>
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="@GetSelector(routeData)" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
</ErrorBoundary>

@code
{
    string GetSelector(RouteData routeData)
    {
        var pageType = routeData.PageType;

        if (pageType == typeof(Pages.Index))
        {
            return "#answerInput";
        }

        return "h1";
    }
}